<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Access Denied</title>
	<link rel="stylesheet" th:href="@{/resources/user/assets/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/resources/user/assets/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/resources/user/assets/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/resources/user/assets/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/resources/user/assets/fonts/line-icons/style.css}">
    <link rel="stylesheet" th:href="@{/resources/user/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/resources/user/assets/css/animate.min.css}">
    
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/resources/user/assets/css/style.css}">
</head>
<body>
	<h2>Access Denied</h2>
	<a th:href="@{/}">Back to Homepage</a>
</body>
</html>