<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="public/fragments.html :: formField(title='Đăng nhập')">
</head>
<body>
<body>

<nav th:replace="public/fragments :: nav" class="">
</nav>

<div class="hero-wrap hero-wrap-2" th:style="'background-image: url(\''+@{/resources/assets/images/bg_1.jpg}+'\');'" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-12 text-center mb-5">
        <p class="breadcrumbs mb-0"><span class="mr-3"><a th:href="@{/}">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> đăng nhập<span></span></p>
        <h1 class="mb-3 bread">Đăng nhập</h1>
      </div>
    </div>
  </div>
</div>


  

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" th:style="'background-image: url(\''+@{/resources/assets/images/hero_1.jpg}+'\');'" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Đăng nhập</h1>
        <div class="custom-breadcrumbs">
          <a th:href="@{/}">Trang chủ</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Đăng nhập</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h2 class="mb-4">Đăng nhập</h2>
        <form th:action="@{/authenticateTheUser}" method="post" class="p-4 border rounded">
			<div class="row form-group">
	            <div>
					<div th:if="${param.error != null}" class="alert alert-danger col-xs-offset-1 col-xs-10">
						Tên hoặc mật khẩu không đúng.
					</div>
							            
					<div th:if="${param.logout}" class="alert alert-success col-xs-offset-1 col-xs-10">
						Bạn đã thoát khỏi chương trình.
					</div>
				    
	
	            </div>
	        </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Email</label>
              <input type="email" id="fname" name="email" class="form-control" placeholder="Email" required>
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Mật khẩu</label>
              <input type="password" id="fname" name="password" class="form-control" placeholder="Mật khẩu" required>
            </div>
          </div>

          <div class="row form-group text-center">
            <div class="col-md-12 text-center">
              <input type="submit" value="Đăng nhập" class="btn px-4 btn-primary text-white">
            </div>
            <div class="col-md-12 text-center">
				Chưa có tài khoản? <a th:href="@{/auth/register}">Đăng ký</a>
				</div>
          </div>

        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</section>
<footer th:replace="public/fragments :: footer" class="ftco-footer ftco-bg-dark ftco-section">
</footer>
<div th:if="${param.error != null}" class="toast" data-delay="2500" style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
    <script>
      swal({
        title: 'Tên đăng nhập hoặc mật khẩu không đúng!',
        /* text: 'Redirecting...', */
        icon: 'danger',
        timer: 3000,
        buttons: true,
        type: 'danger'
      })
    </script>
  </div>
  
</body>
</html>