<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
	
	table td{
		border:1px solid black;
	}
</style>
<body>
<table>
    <tr th:each="var : ${#vars.getVariableNames()}">
        <td th:text="${var}"></td>
        <td th:text="${#vars.getVariable(var)}"></td>
    </tr>
    <!-- 
        Adding these manually because they are considered special.
        see https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.3.RELEASE/src/main/java/org/thymeleaf/context/WebEngineContext.java#L199
    -->
    <tr>
        <td>param</td>
        <td th:text="${#vars.getVariable('param')}"></td>
    </tr>
    <tr>
        <td>session</td>
        <td th:text="${#vars.getVariable('session')}"></td>
    </tr>
    <tr>
        <td>application</td>
        <td th:text="${#vars.getVariable('application')}"></td>
    </tr>
</table>

<hr>
<h1>param properties</h1>
<div>
  <div th:each="var : ${param.keySet()}">
    <b th:text="${var}"></b>
    <p th:text="${param.get(var)}"></p>
  </div>
</div>


<hr>
<h1>session properties</h1>
<div>
  <div th:each="var : ${session.keySet()}">
    <b th:text="${var}"></b>
    <p th:text="${session.get(var)}"></p>
  </div>
</div>
<hr>
<h1>application properties</h1>
<div>
  <div th:each="var : ${application.keySet()}">
    <b th:text="${var}"></b>
    <p th:text="${application.get(var)}"></p>
  </div>
</div>
<h1>Errors?</h1>
<div th:if="${#fields.hasAnyErrors()}">
  <h3>Có lỗi</h3>
    <ul>
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </ul>
</div>
</body>
</html>